@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.indent {
  @apply max-w-7xl w-full mx-auto px-3 md:px-5;
}

.button {
  @apply block text-center font-bold rounded-lg shadow-md transition-all ease-in-out active:scale-[.95] cursor-pointer;
}

.modal-overlay {
  @apply absolute top-0 left-0 overflow-hidden min-h-dvh min-w-dvw bg-black/60 flex items-center justify-center;
}

.modal-root {
  @apply relative bg-stone-50 shadow-xl rounded-2xl p-7 max-w-4xl w-full z-50;
}

.modal-title {
  @apply text-3xl font-black text-center text-gray-950 uppercase;
}

.modal-actions {
  @apply flex items-center gap-2.5 w-full max-w-full justify-end flex-wrap md:flex-nowrap;
}

.modal-input {
  @apply flex flex-col gap-1.5 items-start text-lg font-bold text-gray-800 w-full max-w-full;
}

.modal-input input {
  @apply block py-1.5 px-3 border-1 border-gray-950 rounded-lg text-sm text-gray-950 bg-stone-50 w-full max-w-full;
}

.table-root {
  @apply w-full max-w-full;
}

.table-title {
  @apply bg-gray-800 text-white font-bold text-lg p-2 text-left;
}

.table-actions {
  @apply block w-full max-w-full mb-5;
}

.table-actions th {
  @apply flex items-center justify-start gap-2.5 w-full max-w-full;
}

.table-row {
  @apply p-2 text-left text-black font-medium text-base bg-gray-500 cursor-pointer;
}

.table-row.selected {
  @apply text-stone-300;
}

.table-row td {
  @apply p-2;
}

.table-row:nth-child(even) {
  @apply bg-gray-600;
}

.error-message {
  @apply text-red-500 font-bold text-sm mb-2.5 text-left;
}
